/* Import variables without a prefix */
@use '../base/variables' as *;

/* Persistent colours */
header {
    color: $light-text-colour;
    h1 {
        background: $accent-colour;
    }
}
input[type="checkbox"]:checked {
    background: lighten($dark-base-colour, 30%);
    outline: 1px solid darken($dark-base-colour, 10%);
}
input[type="checkbox"]:checked ~ #menu-label {
    color: $dark-text-colour;
}
#nav-menu {
    li {
        a {
            color: $light-text-colour;
        }
        #active {
            color: saturate($accent-colour, 20%);
        }
        a:hover {
            color: lighten($accent-colour, 20%);
        }
    }
}
.flex-container {
    div {
        color: white;
    }
}
footer {
    background: $accent-colour;
    color: $light-text-colour;
    box-shadow: 0px -0.2rem 1rem 0px darken($dark-base-colour, 10%);
}
@media only screen and (min-width: 600px) { /* For viewports over 600px */
    header {
        box-shadow: 0px 0.2rem 1rem 0px darken($dark-base-colour, 10%);
        h1 {
            box-shadow: none;
        }
    }
    #nav-menu {
        background: rgba(0, 0, 0, 1.0);
        li:nth-child(even) {
            border: none;
        }
    }
}
@media only screen and (max-width: 600px) { /* For viewports under 600px */
    header {
        box-shadow: none;
        h1 {
            box-shadow: 0px 0.2rem 1rem 0px darken($dark-base-colour, 10%);
        }
    }
    #nav-menu {
        background: rgba(0, 0, 0, 0.7);
        li:nth-child(even) { /* Visually separate items */
            border-top: 1px solid darken($dark-text-colour, 80%);
            border-bottom: 1px solid darken($dark-text-colour, 80%);
        }
    }
}

/* Dynamic colours */
@mixin theme($darkmode) {
    @if $darkmode {
        body {
            background: $dark-base-colour;
            color: $light-text-colour;
        }
        input[type="checkbox"] {
            background: darken($dark-base-colour, 10%);
            outline: 1px solid lighten($dark-base-colour, 50%);
        }
        .flex-container {
            .item-container, .animation-container {
                border: 1px solid $accent-colour;
                background: darken($accent-colour, 20%);
            }
        }
    } @else {
        body {
            background: $light-base-colour;
            color: $dark-text-colour;
        }
        input[type="checkbox"] {
            background: $dark-base-colour;
            outline: 1px solid $dark-text-colour;;
        }
        .flex-container {
            .item-container, .animation-container {
                border: 1px solid darken($accent-colour, 20%);
                background: $accent-colour;
            }
        }
    }
}

/* Colour selector */
@media (prefers-color-scheme: dark) {
    @include theme(true);
}
@media (prefers-color-scheme: light) {
    @include theme(false);
}
